*.lz4
external
__pycache__
*.egg-info
*.coffea
*.pdf
*.png
*cutflow*.txt
monitor_log.txt
submission/
pkl/
jmecofftea/scripts/output/*
jmecofftea/scripts/pngs/*

# Ignore build products from setup.py
build/
dist/
